.navbar {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 1rem;
  font-size: 1rem;
  background: none;
}
.nav-menu {
  background-color: #232939;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 1000;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 45px;
  color: white;
  cursor: pointer;
}

.nav-text:hover {
  background-color: #1e2432;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-menu-items {
  width: 100%;
}

.options {
  margin-left: 20px;
  color: #938da9;
}

.options:hover {
  cursor: pointer;
  background-color: #f1f3ff;
  color: #596fdf;
}

.navbar-toggle {
  background-color: #232939;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

span {
  margin-left: 16px;
}
